@page "/"

<div class="background-home d-flex justify-content-center align-items-center flex-column">
    <PageTitle>Cadastro</PageTitle>

    <div class="div-moura">
        <img src="moura.png" class="img-fluid logo-moura" />
    </div>

    <form id="formulario-home" class="d-flex flex-column">
        <input type="text" class="mt-5 form-control-lg rounded-pill" placeholder="Nome" />
        <input type="email" class="mt-3 form-control-lg rounded-pill" placeholder="E-mail" />
        <input type="tel" pattern="[0-9] {2,5,4}" class="mt-3 form-control-lg rounded-pill" placeholder="Telefone" />
        <input type="text" class="mt-3 form-control-lg rounded-pill" placeholder="Cargo" />
        <input type="submit" class="mt-3 btn btn-warning rounded-pill btn-lg" value="Cadastrar" />
    </form>
    
    <a class="mt-3 btn btn-primary rounded" href="/ListCard"><i class="bi bi-qr-code fs-1"></i></a>
</div>
