@page "/ListCard"

<div class="background-list d-flex justify-content-center align-items-center flex-column">
    <PageTitle>Cartões de Visita</PageTitle>
    
    <a class="voltar-list btn btn-warning" href="/"><i class="bi bi-arrow-left fs-1"></i></a>

    <ul class="list-cards">
        <li><a class="d-flex justify-content-center" href="/MyCard" ><img id="qr-code" src="qrcode.png" alt="QrCode" ></a><h1>David Almeida</h1></li>
        <li><a class="d-flex justify-content-center" href="/MyCard" ><img id="qr-code" src="qrcode.png" alt="QrCode" ></a><h1>Tomas Braz</h1></li>
        <li><a class="d-flex justify-content-center" href="/MyCard" ><img id="qr-code" src="qrcode.png" alt="QrCode" ></a><h1>José Gabriel</h1></li>
        <li><a class="d-flex justify-content-center" href="/MyCard" ><img id="qr-code" src="qrcode.png" alt="QrCode" ></a><h1>Mirosmar Santos</h1></li>
        <li><a class="d-flex justify-content-center" href="/MyCard" ><img id="qr-code" src="qrcode.png" alt="QrCode" ></a><h1>Fulaninho de Tal</h1></li>
        <li><a class="d-flex justify-content-center" href="/MyCard" ><img id="qr-code" src="qrcode.png" alt="QrCode" ></a><h1>Ciclano das Trax</h1></li>
    </ul>
    
</div>
